.registration-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  background-color: #eee;
}

#sign-up {
  margin: 0;
  margin-bottom: 1em;
}

.registration-form label {
  width: 100%;
  display: inline-block;
}

.registration-form input {
  width: 50%;
  height: 3em;
  margin: 1em;
  display: inline-block;
  border: none;
}

.registration-form button {
  width: 50%;
  height: 3em;
  font-weight: 800;
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: none;
  border-radius: 0;
  background-color: #ccc;
}

.registration-form button:hover {
  transition: all .1s;
  box-shadow: 0 15px 40px rgba(#000, .15);
  transform: scale(1.05);
}


@media only screen and (min-device-width : 768px) {
  .registration-form {
    width: 30%;
    height: 500px;
  }
}