@keyframes appear {
  0% {
    opacity: 0%
  }

  100% {
    opacity: 100%;
  }
}

.registration-form {
  animation: appear .5s;
  margin-top: 5vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #eee;
}

#sign-up {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 2.5rem;
}

.registration-form label {
  font-size: 1.2rem;
  width: 100%;
  display: inline-block;
}

.registration-form input {
  width: 50%;
  height: 3em;
  margin: 1em;
  display: inline-block;
  border: none;
  padding: 1em;
}

.registration-form button {
  width: 50%;
  height: 3em;
  font-weight: 800;
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: none;
  border-radius: 0;
  background-color: #ccc;
}

.registration-form button:hover {
  transition: all .2s;
  box-shadow: 0 1rem 2rem rgba(#000,.2);
  transform: scale(1.05);
}


@media only screen and (min-device-width : 768px) {
  .registration-form {
    width: 30%;
    height: 500px;
  }
}