header {
  display: flex 1 1 0;
  width: 100%;
  background-color: #eee;
  margin: 0;
  display: grid;
  height: 10vh;
}

.login-and-register {
  font-size: 1.2rem;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  list-style: none;

  li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  li:hover {
    transition: all .2s;
    transform: scale(1.05);
  }
  
}

.header__login-options {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 2rem;
  list-style: none;
  font-size: 1.2rem;
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 3.5vh;
  font-style: normal;
  background-color: #eee;
  font-family: axia-stencil, sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 1rem;
  padding-bottom: 0;
  @media only screen and (min-width: 1000px) {
    display: block;
  }
}

header a {
  text-decoration: none;
  color: black;
}

header span {
  font-size: 1em;
  font-family: halyard-text, sans-serif;
  font-weight: 400;
  font-style: normal;
  float: left;
  margin-left: 5%;
  padding: 1rem;
}



// @media only screen and (min-device-width : 768px) {
//   h1 {
//     font-size: 4em;
//   }

//   header {
//     height: 15vh;
//   }

//   header p {
//     font-family: arial;
//     font-weight: 800;
//     font-size: 24px;
//     border: 1px solid black;
//     width: 40%;
//     margin-left: auto;
//     margin-right: auto;
//   }

// }
