.dashboard {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
}

.fas {
  float: right;
}

.dashboard h2, h3 {
  font-size: 1em;
  padding: 1em;
  margin: 0;
  border-radius: 5px;
  margin: 5px;
  width: 100%;
  background-color: #eee;
}

.dashboard ul {
  list-style: none;
  margin: 0px;
}

.languages, .language-details{
  padding: 0 0 0 2%;
}

.alphabet {
  padding: 0;
  text-align: center;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  transform: translateX(30px);
}

.alphabet li {
  text-align: center;
  margin: 3px;
  background-color: #777;
  color: white;
  font-size: 2rem;
  padding: 1rem;
}

.progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem;
  background-color: #777;
  color: white;
  width: 99%;
  text-align: center;
}

.progress a {
  display: block;
  width: 31%;
}

.progress a button {
  width: 100%;
  margin: 0.5em;
  height: 50px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1em;
}

.word-score {
  font-size: 0.6em;
  margin: 0.5em;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}

@keyframes expand {
  0% {
    transform: translateY(-5rem);
    opacity: 0%;
  }

  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.expand {
  animation: expand .25s;
  animation-fill-mode: forwards;
}

.rotating {
  animation: rotate 0.25s;
  animation-fill-mode: forwards;
}
