.dashboard {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;

  h2, h3 {
    font-size: 1.5em;
    padding: 3rem;
    margin: 0;
    margin: 5px;
    width: 100%;
    background-color: #ccc;
  }
}

.fas {
  float: right;
}

.dashboard ul {
  list-style: none;
  margin: 0px;
}

.languages, .language-details{
  padding: 0 0 0 2%;
}

.alphabet {
  padding: 0;
  text-align: center;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  transform: translateX(30px);


  @media only screen and (min-width: 500px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media only screen and (min-width: 900px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.alphabet li {
  text-align: center;
  margin: 3px;
  background-color: rgba(#000, .7);
  color: white;
  font-size: 2rem;
  padding: 3rem;
}

.progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem;
  background-color: rgba(#000, .7);
  color: white;
  width: 99%;
  text-align: center; 
    a {
      text-decoration: none;
      display: block;
      color: black;
      font-weight: 800;
      background-color: #ccc;
      padding: 2rem 4rem 2rem 4rem;
      font-size: 2rem;
      margin-top: 4rem;
    }

    a:hover {
      transform: translateY(-3px) scale(1.05);
      transition: all .2s;
      box-shadow: 0 1rem 2rem rgba(#000,.2);
    }
}





.word-score {
  font-size: 0.6em;
  margin: 0.5em;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}

@keyframes expand {
  0% {
    transform: translateY(-2rem);
    opacity: 0%;
  }

  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.expand {
  animation: expand .4s;
  animation-fill-mode: forwards;
}

.rotating {
  animation: rotate 0.25s;
  animation-fill-mode: forwards;
}
